# API Base URL
REACT_APP_API_URL=http://localhost:5000/api

# Firebase Web App Config (Google Auth)
REACT_APP_FIREBASE_API_KEY=AIzaSyDh0TWKg0e88ATvammg2xFyEMrabiHCmNw
REACT_APP_FIREBASE_AUTH_DOMAIN=jury-ai-df82b.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=jury-ai-df82b
REACT_APP_FIREBASE_APP_ID=1:297632396518:web:3283198e84b0d6da6e3727
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=297632396518
