fastapi
uvicorn[standard]
python-multipart

langchain<0.3.0
langchain-community<0.3.0
langchain-core<0.3.0
langchain-groq
langchain-google-genai
langchain-pinecone
pinecone-client==3.2.2

PyPDF

python-dotenv

pydantic
requests
tqdm

loguru

# MongoDB support
pymongo
motor




